<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body id="game">
    {% if user.is_authenticated%}
    {{ request.user.id|json_script:"user_id" }}

    <!--library for make request HTTP-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>
    <!-- Load Posenet <script src="https://unpkg.com/@tensorflow-models/posenet"></script>-->
    <!--Load WebcamEasy-->
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <!--Load Utils-->
    <script type="module" src="{% static 'utils.js' %}"></script>

    <h1>Game</h1>
    <!--<img src="{% static 'assets/logo.png' %}">-->
    <div id="gameContainer" class="flex-container">
        <div class="game-card">
            <label>Score</label><progress value="0" max="100" id="score"></progress>
            <label>Time:</label><label style="font-size:40px;" id="time"></label>
        </div>
        <div class="game-card">
                <video autoplay="true" id="videoElement"></video>
                <canvas id="myCanvas"></canvas>
        </div>
        <div class="game-card">
                <img id="paint" src="{% static 'assets/opere/img15.jpeg' %}">
                <canvas id="myCanvasp"></canvas>
        </div>
        <div id="loading">
            <img src="{% static 'assets/loading.gif' %}">
            <h2>Caricamento...</h2>
        </div>
    </div>
    <div id="endContainer" class="flex-container">
        <video id="videoElement2" width="640" height="480" controls loop></video>
        <a href="{% url 'start' %}">gioca ancora</a>
        <div id="slideshow-container" class="flex-container"></div>
        <table align="center" id="table" border="1">
        </table>


    </div>

    <script type="module">
        async function sendData(id) {
            const response = await axios.get('/frontend/getimg', {
                params: {
                    "id": id,
                }
            },)
            console.log(JSON.parse(response.data.proposal_list))

        }

        import { poseInit, runPosenet } from "{% static 'game.js' %}"
        var scoreLbl = document.getElementById('score');
        const timelbl = document.getElementById('time');
        const paintElement = document.getElementById('paint');
        paintElement.src = "";
        const canvasElementp = document.getElementById('myCanvasp')
        const webcamElement = document.getElementById('videoElement');
        const canvasElement = document.getElementById('myCanvas');
        const webcam = new Webcam(webcamElement, 'user', canvasElement);
        const queryParams = new URLSearchParams(window.location.search);
        const levelId = queryParams.get("id");

        await webcam.start()
            .then(result => {
                poseInit(webcamElement, paintElement, canvasElement, canvasElementp, scoreLbl, timelbl, levelId);
            })
            .catch(err => {
                console.log(err);
            });

    </script>
    {%else%}
    <h1>Not logged in</h1>
    <a href="{%url 'login'%}">Login</a>
    <a href="{%url 'register'%}">Register</a>
    {%endif%}
</body>

</html>