<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="start">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="module" src="{% static 'fetchUtils.js' %}"></script>
    <div class="navbar">
        <div class="logo">
            <h2>Strike a Pose</h2>
        </div>

        <a id="logoutBtn" class="btn btn-default btn-sm" href="{% url 'logout' %}">log out</a>
    </div>
    <div id="start-container" class="flex-container">
        <div id="slider-container">
            <label>easy</label>
            <input type="range" min="0.7" max="0.8" value="0.75" id="difficulty" step=".05">
            <label>hard</label>
        </div>
        <div id="level-list" class="flex-container"></div>
    </div>
    <script type="module">
        import { getLevels, getPicture } from "{% static 'fetchUtils.js' %}";
        var difficulty = document.getElementById("difficulty");
        const levelList = await getLevels();
        const levelListEl = document.getElementById("level-list");
        const buttons = document.getElementsByClassName("btn");

        for (var i = 0; i < levelList.length; i++) {
            const images = await getPicture(levelList[i].pk);

            levelListEl.innerHTML += `
        <div class="card mb-3">
                <h2 class="card-title" >${levelList[i].fields.name}</h2>
                <h5 class="card-subtitle mb-2 text-muted">${images.length} opere</h5>
                <p class="card-text">
                ${levelList[i].fields.description}
                </p>
                <a class="btn btn-primary btn-block" href="../game?id=${levelList[i].pk}&diff=${difficulty.value}">GIOCA</a>
        </div>`;
        };

        difficulty.oninput = function () {
            for (var i = 1; i < buttons.length; i++) {
                const queryParams = new URLSearchParams((buttons[i].href.split('game')[1]));
                var levelId = queryParams.get("id");
                buttons[i].href = "../game?id=" + levelId + "&diff=" + difficulty.value;
            }
            var value = (this.value - this.min) / (this.max - this.min) * 100
            this.style.background = 'linear-gradient(to right, #ac831b 0%, #ac831b ' + value + '%, #f5f5f5 ' + value + '%, #f5f5f5 100%)'
        }

    </script>
</body>


</html>