body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100;
    background-image: url("assets/sfondo_end.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  /*  background-position: center center;*/
  font-family: 'Roboto', sans-serif;

}
#contanerWebcamGame{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#scoreTime{
    display: flex;
    position: relative;
    justify-content: center;
    font: 15px;
    background: rgba(107, 123, 113, 0.85);
    width: 100%;
    max-width: 1280px;
    height: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    align-items: center;
}

@media screen and (max-width: 648px){
    #scoreTime{
        padding: 0px;
        margin: 0px;
        height: 20px;
    }
}

#scoreDiv{
    margin-right: 20px;
}
.wrapper {
    display: flex;
    width: 100%;
    position: relative;
    background: rgba(107, 123, 113, 0.9);
    z-index: -2;
    flex-flow: wrap;
    color: white;
    font-weight: bold;
    text-align: left;
    max-width: 680px;
  }
  .overlapped {
    width: 100%;
    position: absolute;
  }
  .someContent {
    width: 100%;
  }

#videoElement {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    height: auto;
    /*clip-path: inset(0 80px);*/
}

#myCanvas {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    height: auto;
    /*clip-path: inset(0 80px);*/
}

#paint {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);    
}

#myCanvasp {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#endContainer {
    display: none;
}

.flex-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
#gameContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.card,.game-card{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    background: rgba(107, 123, 113, 0.9);
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 12%;
    margin: 2% 5%;
    align-content: initial;
    border-radius: 6px;
    max-width: 680px;
}

.game-card{
    padding:0;
    z-index: -2;
}

#game{
    background-color: #3e413f;
}

.card h2{
    margin-top:0;
    margin-bottom:0;
}
.card a{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color:#f5f5f5;
    color:#212121;
    text-align: center;
    border-radius: 6px;
    margin: auto;
    width: 80%;
    height: 60px;
    display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
    max-width: 90%;
    opacity: 100%;
}

.start {
    background-image: url("assets/sfondo_end.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  /*  background-position: center center;*/
}
.navbar {
    background-color: #6b7b71;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
}
.navbar a{
    position: absolute;
    top: 2,5vh;
    right: 5px;
    color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;

}

#slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
#slideImg{
    z-index: -1;
}

#slideshow-container .flex-container{
    flex-flow: row wrap;
}

.mySlides .text{
    background-color: rgba(33, 33, 33, 0.9);
}

#prev,
#next {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
#next {
    align-self: right;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 4px;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
    #prev,
    #next,
    .text {
        font-size: 11px
    }
    #loading img{
        width: 200px;
    }
    #endContainer {
        padding-left:10px;
        padding-right:10px;
    }
}


#loading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    top: 0px;
    text-align: center;
    z-index: 12;
    width: 100vw;
    height: 100vh;
    background-color: #6b7b71;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#videoElement2{
    display: none;
    width: 100%;
    height: auto;
    max-width: 600px;
}
#table{
    display: none;
    background-color: rgba(107, 123, 113, 0.9);
    color: white;
    border-radius: 10px;
    border: solid rgba(107, 123, 113, 0.9) 1px;
    margin: 1vh 0;
    width: 100%;
    
}
#table td, #table th {
  border: none;
  text-align: left;
  padding: 8px;
}

#endContainer{
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
#endContainer button{
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
    margin: 1vh 0;
    width: 150px;


}
.greenButton{
    background-color: rgba(107, 123, 113, 0.9);
    color: white;
    border: solid rgba(107, 123, 113, 0.9) 1px;
}
.greenButton:hover{
    background-color: white;
    color: #6b7b71;
    border: solid #fff 1px;
}

.whiteButton{
    background-color: white;
    color: #6b7b71;
    border: solid #fff 1px;
}

.whiteButton:hover{
    background-color: rgba(107, 123, 113, 0.9);
    color: white;
    border: solid rgba(107, 123, 113, 0.9) 1px;
}

#gameoverCard{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    background: rgba(107, 123, 113, 0.9);
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 5%;
    align-content: initial;
    border-radius: 6px;
    max-width: 640px;
    margin-top: 20px;
}
#gameoverCard h2{
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
#gameoverCard h1{
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.slideImg{
    width: 100%;
    height: auto;
    max-width: 600px;
}
