body{
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
    padding: 0px;
    margin: 0px;
    width: 100%;

}
#videoElement {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    width: 640;
    height: 480;
}

#myCanvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    width: 640;
    height: 480;
}

#paint {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    width: 640;
    height: 480;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#myCanvasp {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#endContainer {
    display: none;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    background: #6b7b71;
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 2% 5%;
    padding: 12%;
    align-content: initial;
    border-radius: 6px;
    opacity: 0.85;
    max-width: 600px;
}


.card a{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color:#f5f5f5;
    color:#212121;
    text-align: center;
    border-radius: 6px;
    margin: auto;
    width: 80%;
    height: 60px;
    display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
    max-width: 90%;
    opacity: 100%;
}

.start {
    background-image: url("assets/sfondo_end.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  /*  background-position: center center;*/
}
.navbar {
    background-color: #6b7b71;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
}
.navbar a{
    position: absolute;
    top: 2,5vh;
    right: 5px;
    color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;

}



